{
  "extends": ["eslint:recommended"],

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "supportsCSSFilters": true,
    "Promise": true
  },

  "parserOptions": {
    "ecmaVersion": 2020
  },

  "rules": {
    "no-console": 0
  }
}
