.backgroundImage{
  height: 60vh;
  background-image:url(http://68.media.tumblr.com/ec28837d85e57b3c0ae64e47090674e2/tumblr_nsw3mktvq71teue7jo1_1280.jpg);
  background-size: 100vw 60vh;
  background-repeat: no-repeat;
}
