.container {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.github-link-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
}

a:hover {
  text-decoration: none;
}

.github-link-container > a > svg {
  margin-top: 15px;
  margin-bottom: 50px;
  width: 50px;
  height: 50px;
}

h3 {
  text-align: center;
  font-size: 24px;
}

.images {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
